In [1]:
counter= 100.00 
miles = 100
name = "mehvish"

print(counter)
print(miles)
print(name)

100.0
100
mehvish

In [2]:
2+3

5

In [3]:
2.3+2.5

4.8

In [4]:
2**2

4

In [5]:
name = "mehvish"
university = "COMSATS"
print(name,university)

mehvish COMSATS

In [6]:
stringvariable = 'hello world'
print ( "stringvariable[0]: ", stringvariable[0])
print ( "stringvariable[1:5]: ", string variable[1:5])

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1949809742.py, line 3)

In [7]:
stringvariable = 'hello world'
print ( "stringvariable[0]: ", stringvariable[0])
print ( "stringvariable[1:5]: ", stringvariable[1:5])

stringvariable[0]:  h
stringvariable[1:5]:  ello

In [8]:
stringvariable = "hello world"
stringvariable = stringvariable[:6] + "python"
print ("updated string : ", stringvariable)

updated string :  hello python

In [9]:
variable = "hello"
print(variable+"python")

hellopython

In [10]:
variable = "hello"
print (variable*5)

hellohellohellohellohello

In [11]:
variable = "hello"
print(variable[1:3])

el

In [12]:
variable ="hello"
print( "h" in variable)

True

In [13]:
variable = " hello"
print( "g" not in variables)

NameError: name 'variables' is not defined

In [14]:
variable = " hello"
print( "g" not in variable)

True

In [15]:
print ( " my name is %s and age is %d !" % ("ayesha", 21))

 my name is ayesha and age is 21 !

In [16]:
list1 = ['ayesha', '2003']
print(list1)

['ayesha', '2003']

In [17]:
list1 = [ 'physics' , 'chemistry' , 2000, 1999 ] 
list2 = [ 1,2,3,4,5,6,7,8] 
print (" list1[0]: " , list1[0])
print (" list2[1:5] ", list2[1:5])

 list1[0]:  physics
 list2[1:5]  [2, 3, 4, 5]

In [1]:
list1 = ['physics','chemistry',1997,2000]
list1[1]="computer science"
list1.append('computer science')
print(list1)

['physics', 'computer science', 1997, 2000, 'computer science']

In [1]:
dict = {'Name':"Mehvish", 'Depart': "BCS", 'Batch': 2014}
print (dict['Name'])

Mehvish

In [2]:
dict = {'Name':"Mehvish", 'Depart': "BCS", 'Batch': 2014}
print (dict)
dict['Batch'] = "SP14"
print (dict)
dict['University'] = "COMSATS"
print(dict)

{'Name': 'Mehvish', 'Depart': 'BCS', 'Batch': 2014}
{'Name': 'Mehvish', 'Depart': 'BCS', 'Batch': 'SP14'}
{'Name': 'Mehvish', 'Depart': 'BCS', 'Batch': 'SP14', 'University': 'COMSATS'}

In [3]:
 dict = {'Name':"Mehvish", 'Depart': "BCS", 'Batch': 2014}
print (dict)
del dict['Batch']
print (dict)

{'Name': 'Mehvish', 'Depart': 'BCS', 'Batch': 2014}
{'Name': 'Mehvish', 'Depart': 'BCS'}

In [4]:
dict = {'Name':"Mehvish", 'Depart': "BCS", 'Batch': 2014}
dict.clear()
print (dict)

{}

In [5]:
tup = ('Math','98', 'C programming', '99')
print (tup)
print(tup[1])
print(tup[1:3])

('Math', '98', 'C programming', '99')
98
('98', 'C programming')

In [6]:
tup1 = (12, 34.56);
tup2 = ('abc', 'xyz');
#Following action is not valid for tuples
#tup1[0] = 100;
#So let's create a new tuple as follows
tup3 = tup1 + tup2;
print (tup3);

(12, 34.56, 'abc', 'xyz')

In [7]:
 1<3

True

In [8]:
15 <= 23

True

In [9]:
'Mehvish' == "Zeenat"

False

In [10]:
"Mehvish" != "Mehvish"

False

In [11]:
(1==1)or(5>2)

True

In [12]:
(1<2)and(2<1)

False

In [15]:
if 25 % 2:
  print('Even')
else:
  print('Odd')

Even

In [16]:
fact = 1
N = 5
for i in range (1,N+1):
  fact*=i
print (fact)

120

In [18]:
a = 0
while a < 10:
  a = a+1
  print(a)

1
2
3
4
5
6
7
8
9
10

In [28]:
def printme( str ):
  print (str)
  return;
printme("I'm first call to user defined function!")

I'm first call to user defined function!

In [30]:
def f (x):
  return x**2
print (f(8))

64

In [1]:
times3 = lambda var:var*3
times3(10)

30

In [2]:
sentence = 'It is raining cats and dogs'
words = sentence.split()
print (words)
lengths = map(lambda word: len(word), words)
list(lengths)

['It', 'is', 'raining', 'cats', 'and', 'dogs']

[2, 2, 7, 4, 3, 4]

In [3]:
fib = [0,1,1,2,3,5,8,13,21,34,55]
result1 = filter(lambda x: x % 2, fib)
list(result1)

[1, 1, 3, 5, 13, 21, 55]

In [4]:
 fib = [0,1,1,2,3,5,8,13,21,34,55]
result2 = filter(lambda x: x % 2 == 0, fib)
list (result2)

[0, 2, 8, 34]

In [5]:
from six.moves import input
string = input("Enter your name: ");
print(string)

Enter your name:  ayesha

ayesha

In [13]:
fileOpen = open("file.txt", "r+")
str = fileOpen.read(); s
 from the start of file
print (str)

fileOpen.close()

IndentationError: unexpected indent (3154391949.py, line 3)

In [14]:
fo = open("file.txt", "r+")
str = fo.read(10);
print("ReadStringis:\n",str)
position = fo.tell();
print("Currentfileposition:\n", position)
position = fo.seek(0, 0);
str = fo.read(10);
print("AgainreadStringis:\n", str)
fo.close()

FileNotFoundError: [Errno 2] No such file or directory: 'file.txt'

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
"""following a fucntion is called from panas to create a series.
data would be 5 random values and indexes are assigned a-e"""
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])

In [17]:
df.iloc[3:5,0:2]

NameError: name 'df' is not defined